// Catalog Views
.view-product-index {
  clear: both;
  margin-top: 20px;
  overflow: hidden;
  padding-top: 20px;

  .views-row {
    width: 30%;
    float: left;
    margin: 0 10px 30px 0;
    padding: 10px;
    height: 410px;
    color: color('grey');
    font-weight: bold;
    border: 1px solid color('border');
    position: relative;

    .views-field-title {
      height: 90px;

      a {
        text-decoration: none;
      }
    }

    .views-field-field-sku {
      font-style: italic;
    }

    .views-field-nid {
      width: 125px;
      height: 33px;
      background: url('../images/btn-buy.png') no-repeat;
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      position: absolute;
      bottom: -17px;
      left: 35px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .views-field-uc-product-image {
      height: 170px;
      width: 170px;
      line-height: 170px;
      text-align: center;

      img {
        vertical-align: middle;
      }
    }

    .views-label {
      font-weight: 100;
    }

  }

  .item-list {
    float: left;
    clear: both;
  }
}

//Facet filters
.block-facetapi {
  width: 31%;
  float: left;
  padding-right: 2%;

  &:not(.brand-filter):nth-child(3n+1) {
    clear: left;
  }

  .block__title {
    font-size: font-size('m');
    font-family: $tahoma;
    font-weight: bold;
  }

  .text-range {
    display: none;
  }

  .range-box {
    float: left;

    &:first-child {
      margin-right: 20px;
    }

    input {
      width: 82px;
    }

    .form-item {
      margin: 0;
    }
  }

  .range-slider-box {
    clear: both;
    padding: 20px 0;

    .range-slider {
      width: 90%;
      margin: 0 auto;
    }
  }

  a {
    text-decoration: none;
    color: #000;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  &.brand-filter {
    clear: both;
    float: none;
    width: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid color('border');

    .block__title {
      font-family: $arial;
      font-weight: normal;
      font-style: italic;
      color: color('grey');
    }

    li {
      display: inline-block;
      margin-right: 5px;

      div {
        display: inline;
      }

      a {
        font-size: 16px;
        font-weight: bold;

        &:hover {
          color: color('yellow');
          text-decoration: underline;
        }
      }
    }
  }
}

.taxonomy-term-description {
  color: color('grey');
  clear: both;

  h2,
  h3 {
    font-family: $calibri;
    text-transform: uppercase;
    font-size: font-size('xl');
    font-weight: normal;
    color: #000;
  }
}

.view-subcategories {

  .views-row {
    width: 50%;
    float: left;

    a {
      color: color('yellow');
      font-size: 1.1em;
    }
  }
}
