# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sxd
sites/all/themes/teploexpert/node_modules
.htaccess
/includes
/modules
/themes
robots.txt
/scripts
/misc
/profiles